main #filter{
	margin-top: 50px;
	border-radius: 20px;
	padding: 10px;
  background: rgba(51, 17, 2, 0.65);
}

.container {
  background: rgba(29, 10, 0, 0.85);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  padding: 40px;
}

.container .row {
	margin-bottom: 15px;
	margin-top: 40px;
}

.container h1:nth-child(1) {
	text-align: center;
	padding: 20px;
	font-size: 45px;
}

.container hr {
	border: 1px solid white;
	width: 90%;
	margin: auto;
}

form legend {
	font-size: 30px;
}

#type, #price, #dispo, #sort{
	font-size: 20px;
	padding: 10px;
}

#sort select {
	padding: 5px;
}

#submit {
	display: flex;
	justify-content: space-around;
}

#submit button, #submit a{
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
}

#submit button:hover, #pages button:hover, #submit a:hover{
	background-color: white;
	color: rgb(51, 17, 2);
	text-decoration: none;
}

.items {
	display: flex;
	flex-direction: column;
}

.items .row {
	flex-direction: row;
	justify-content: space-around;
	padding: 15px;
}

.item {
	width: 200px;
	height: 300px;
	font-size: 20px;
	position: relative;
	overflow: hidden;
	margin:auto;
}

.item img {
	width: 100%;
	height: 70%;
	border-radius: 40px;
	margin-bottom: 20px;
}

.item img:hover {
	opacity: 0.7;
}

.item div h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 12%;
	background: rgba(51, 17, 2, 0.85);
	box-sizing: border-box;
	width: 100%;
	height: 25%;
	overflow: hidden;
	font-size: 20px;	
}

.item h2 {
	text-align: center;
	font-size: 30px;
}

.items .row:empty {
	display: none;
}

#pages {
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
}

#pages button {
	padding: 0 10px 0 10px;
	border-radius: 10px;
	text-decoration: underline;
}